/* welcome note styles goes here */
.welcome-title{
    all: unset;
    color: red;
    text-align: center;
}
.welcome-note {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    

}
.welcome-note > p {
    grid-column: 2 / 3;
    color: white;
    margin-top: 0;
}
/* welcome note styles end here */

/* motive and awards styles goes here */
.motive-awards-container {
    margin-top: 4em;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}
.motive-awards-container > .motive-awards {
    grid-column: 2 / 3;
    justify-content: center;
}
.motive-awards {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
      
      
    
}
.motive {
    text-align: center;
    background-color: orange;
    font-family: 'Times New Roman', Times, serif;
    border-radius: .2em;

}
.motive > h4 {
    text-transform: uppercase;
}
.awards {
    background-color: var(--navbackground);
    border-radius: .2em;
}

/* motive and awards styles ends here */

/* awards style goes here */

/* awards style ends here */


/* addmission style goes here */
.addmission-corner {
    background-color: lightgray;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.addmission-corner > a:link, a:visited {
    background-color: var(--navbackground);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 2px;
    border-radius: .2em;
  }
  
.addmission-corner > a:hover, a:active {
    background-color: var(--navbackground);
  }

/* addmission style ends here */
/* announcements styles goes here */
.announcements {
    margin-top: 5em;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    
}
.announcements > .news-flash {
    grid-column:  2 / 3;
    background-color: lightgray;
    border-radius: .3em;
}
.news-flash {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 10px;
    align-items: stretch;
    background-color: tomato;

}
.first-box {
    background-color: var(--navbackground);
    border-radius: .2em;
    background-color: var(--navbackground);
   
}
.first-box > .news-label {
    justify-content: center;

}
.news-label > label {
    margin: auto;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}
.first-box > .news-button {

    margin-bottom: .5em;
    margin-left: .5em;
}
.second-box > .news-button {

    margin-bottom: .5em;
    margin-left: .5em;
}
.third-box > .news-button {

    margin-bottom: .5em;
    margin-left: .5em;
}
.news-button > button {
    height: 2em;
    width: 10em;
    
}

    


.second-box {
    background-color: var(--navbackground);
    border-radius: .2em;
}
.third-box {
    background-color: var(--navbackground);
    border-radius: .2em;
}


/* shfsdfhsf ;skf;s */

.container > * {
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  
  .container{
    border-radius: .4em;
    width:260px;
    margin:20px auto;
    height: 400px;px;
    background-color:#333;
    overflow:hidden;
  }
  .container > ul{
    list-style:none;
    position:relative;
  }
  .headline-list {
    height: 110px;
    background-color: lightgray;
    text-align:center;
    border-bottom:1px solid #333;
  }
  .container > h2{
    color:#fff;
    padding-top:10px;
  }
  .container > p{
    text-align:left;
    padding: 10px;
    color:#eee;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    
   }





/* announcements styles ends here */


/* gallery styles starts here */

/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 77). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox is used as a fallback so that browsers which don't support grid will still recieve an identical layout.

*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:500);



*,
*::before,
*::after {
	box-sizing: border-box;
}



.gallary-container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.gallary-heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: white;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}

/* gallery styles ends here */


/* footer styles starts here */


/* footer styles starts here */

